<div class="container">
  <form  class="card" (ngSubmit)="submit()"  [formGroup]="form">
    <h1>AF</h1>
    <div class="form-control" >
      <label>Email</label>
      <input type="text" formControlName="email">
      <div *ngIf="form.get('email').invalid && form.get('email').touched" class="validation">
        <p *ngIf="form.get('email').errors['required']">это поле не мжет быть пустым</p>
        <p *ngIf="form.get('email').errors['email']">введены некоректные данные</p>
        <p *ngIf="form.get('email').errors['restrictedAge']">введен неподдерживающийся емайл</p>
        <p *ngIf="form.get('email').errors['uniqEmail']">данная почта заблокирована в системе</p>

        <div>

      </div>
    </div>
    <div class="form-control">
      <label>Password <mat-icon (click)="opened  = !opened">help_outline</mat-icon></label>
      <input type="password" formControlName="password">
      <div *ngIf="form.get('password').invalid &&  form.get('password').touched"  class="validation">
        <p *ngIf="form.get('password').errors['required']">это поле не мжет быть пустым</p>
        <p *ngIf="form.get('password').errors['minLength']">введены некоректные данные</p>
        <p *ngIf="form.get('password').errors['goto']">введены некоректные данные</p>
         </div>
      <p limit *ngIf="opened">требования к паролю: <br>должен содержать как минимум 1 заглавную букву,<br>1 цифру,<br>не должен содержать русских символов.
        <br>
        Минимальная длина 8 символов</p>
    </div>

    <div class="form-control" formGroupName="address">

    <div class="card" >
      <h2>address</h2>
      <select formControlName="country" id="">
      <option value="by">Беларусь</option>
      <option value="ru">Россия</option>
      <option value="en">СШП</option>
    </select>

    </div>
    <div  class="form-control">
      <input formControlName="city" type="text">
    </div>
      <button type="button" (click)="setCapital()" class="btn">choose capital</button>
    </div>
    <div class="card" formGroupName="skills">
      <h2>narratives</h2>
      <button type="button" (click)="addNarative()" class="btn">add</button>
      <div class="form-control" *ngFor="let nar of form.get('skills')['controls']; let ind = index">
        <label >narratives:{{ ind+1}}</label>
        <input type="text" [formControlName]="ind">
      </div>
    </div>
    <button [disabled]="form.invalid" type="submit" class="btn">send</button>
</div>
  </form>
</div>

<app-switxh [(ngModel)]="appState"/>
<router-outlet></router-outlet>

<hr>
<p>{{appState}}</p>
